/* @import "./reset.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --card-width: 300px;
  --main-color: rgb(86, 49, 112);

  display: flex;
  background-color: aqua;
  justify-content: center;
  align-items: stretch;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  border: 1px solid red;
  /* height: 400px; */
  margin: 20px;
}
.cardHeader {
  background-color: blue;
  height: 150px;
}
.userInfo {
  background-color: white;
  padding: 40px 20px;
  height: 100%;
}
.cardFooter {
  margin-top: auto;
  text-align: center;
  background-color: rgb(86, 49, 112);
}
